body{
    height: 100vh;
    background-image: url(../images/overwatch/bg.jpg);
    /* 화면 맞추기 */
    background-size: cover;
    background-repeat: no-repeat;
    /* 배경 고정 */
    background-attachment: fixed;
}
#container{
    padding:50px 0;

}

#container .heroes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin:0 auto;
    /* 영웅 박스의 내부여백 */
    padding: 40px 20px;
}
#container .heroes .hero {
    width: 80px;
    height: 84px;
    margin: 4px;
    border: 3px solid #eee;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #555;
    /* 자식요소가 넘어가면 자른다 */
    overflow: hidden;
    transform: skewX(-14deg);
    /* 각요소마다 시간 다르게 */
    transition: transform .1s, background-color .6s;
}
#container .heroes .hero:hover{
    background-color: #ff9c00;
    /* 각도 조절, 1.3배 */
    transform: skewX(-14deg) scale(1.3);
    z-index: 1;
}

.images {
    width: 140%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    transform: skewX(14deg) translate(-16px);
}
#container .heroes .hero:nth-child(1) .images{ background-image: url("../images/overwatch/hero1.png");}
#container .heroes .hero:nth-child(2) .images{ background-image: url("../images/overwatch/hero2.png");}
#container .heroes .hero:nth-child(3) .images{ background-image: url("../images/overwatch/hero3.png");}
#container .heroes .hero:nth-child(4) .images{ background-image: url("../images/overwatch/hero4.png");}
#container .heroes .hero:nth-child(5) .images{ background-image: url("../images/overwatch/hero5.png");}
#container .heroes .hero:nth-child(6) .images{ background-image: url("../images/overwatch/hero6.png");}
#container .heroes .hero:nth-child(7) .images{ background-image: url("../images/overwatch/hero7.png");}
#container .heroes .hero:nth-child(8) .images{ background-image: url("../images/overwatch/hero8.png");}
#container .heroes .hero:nth-child(9) .images{ background-image: url("../images/overwatch/hero9.png");}
#container .heroes .hero:nth-child(10) .images{ background-image: url("../images/overwatch/hero10.png");}
#container .heroes .hero:nth-child(11) .images{ background-image: url("../images/overwatch/hero11.png");}
#container .heroes .hero:nth-child(12) .images{ background-image: url("../images/overwatch/hero12.png");}
#container .heroes .hero:nth-child(13) .images{ background-image: url("../images/overwatch/hero13.png");}
#container .heroes .hero:nth-child(14) .images{ background-image: url("../images/overwatch/hero14.png");}
#container .heroes .hero:nth-child(15) .images{ background-image: url("../images/overwatch/hero15.png");}
#container .heroes .hero:nth-child(16) .images{ background-image: url("../images/overwatch/hero16.png");}
#container .heroes .hero:nth-child(17) .images{ background-image: url("../images/overwatch/hero17.png");}
#container .heroes .hero:nth-child(18) .images{ background-image: url("../images/overwatch/hero18.png");}
#container .heroes .hero:nth-child(19) .images{ background-image: url("../images/overwatch/hero19.png");}
#container .heroes .hero:nth-child(20) .images{ background-image: url("../images/overwatch/hero20.png");}
#container .heroes .hero:nth-child(21) .images{ background-image: url("../images/overwatch/hero21.png");}
#container .heroes .hero:nth-child(22) .images{ background-image: url("../images/overwatch/hero22.png");}
#container .heroes .hero:nth-child(23) .images{ background-image: url("../images/overwatch/hero23.png");}
#container .heroes .hero:nth-child(24) .images{ background-image: url("../images/overwatch/hero24.png");}
#container .heroes .hero:nth-child(25) .images{ background-image: url("../images/overwatch/hero25.png");}
#container .heroes .hero:nth-child(26) .images{ background-image: url("../images/overwatch/hero26.png");}
#container .heroes .hero:nth-child(27) .images{ background-image: url("../images/overwatch/hero27.png");}
#container .heroes .hero:nth-child(28) .images{ background-image: url("../images/overwatch/hero28.png");}
#container .heroes .hero:nth-child(29) .images{ background-image: url("../images/overwatch/hero29.png");}
#container .heroes .hero:nth-child(30) .images{ background-image: url("../images/overwatch/hero30.png");}
#container .heroes .hero:nth-child(31) .images{ background-image: url("../images/overwatch/hero31.png");}
#container .heroes .hero:nth-child(32) .images{ background-image: url("../images/overwatch/hero32.png");}


#container .logo{
    max-width: 250px;
    margin:0 auto;
    padding: 0 20px;
}
#container .logo img{
    width: 100%;
}













































